html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

:root {
    --primary-color: #FD7A53;
    --bg-color: #F5F5F5
}

.faq {
    font-style: normal;
    font-weight: 400;
    text-align: start;
    font-family: 'Prata', serif;
}

.faq h5 {
    margin-top: 40px;
}

.faq p {
    margin-top: 26px;
}

.container .faq {
    margin-top: 60px;
}