<div class="container faq">
    <div class="row">
        <div class="col">
            <h4>FAQ</h4>
            <hr/>
            <div>
                <h5>Я новенький здесь, как сделать заказ?</h5>
                <p>Выберите интересующие вас товары, добавьте их в корзину, затем перейдите в корзину и следуйте инструкциям на экране для оформления заказа.</p>
                <h5>Возможна ли доставка в мою страну?</h5>
                <p>Мы осуществляем доставку по России и СНГ. Если вы не уверены, доступна ли доставка в вашу страну, пожалуйста, свяжитесь с нашей службой поддержки.</p>
                <h5>Как долго будут идти мои товары?</h5>
                <p>Срок доставки зависит от страны и выбранного способа доставки. Подробную информацию вы можете найти в разделе "Доставка"</p>
                <h5>Я могу вернуть товар, если он мне не подошел?</h5>
                <p>Да, вы можете вернуть товар в течение определенного времени, если он не был использован.</p>
                <h5>Что делать, если товар пришел поврежденным?</h5>
                <p>В таком случае, пожалуйста, немедленно свяжитесь с нашей службой поддержки. Мы поможем решить эту проблему.</p>
                <h5>Я хочу купить товар, но его нет в наличии. Что мне делать?</h5>
                <p>Некоторые товары могут быть временно отсутствовать на складе. Когда товар снова станет доступным, мы обновим его статус.</p>
                <h5>Ваш товар оригинальный?</h5>
                <p>Да, все наши товары являются официальной продукцией, мы работаем только с лицензированными поставщиками.</p>
                <h5>Как я могу связаться с вами?</h5>
                <p>Вы можете связаться с нами, написав на нашу электронную почту, через форму на сайте, а также через наши социальные сети. Подробности в разделе "Контакты".</p>
                <h5>Принимаете ли вы оплату картами?</h5>
                <p> Да, мы принимаем большинство кредитных и дебетовых карт VISA и MasterCard, а также оплату через карты МИР</p>
            </div>
        </div>
        <div class="col">
            <img src="~/image_faq.png" alt="Question-Answer" class="img-fluid">
        </div>
    </div>
</div>