@model antifragile.Data.Models.Address;

<div class="card border-1">
    <div class="card-header fs-5">@Model.City</div>
    <div class="card-text fs-6">@Model.Street</div>
    <div class="card-text fs-6">@Model.Index</div>
</div>
