@model antifragile.ViewModels.AddressViewModel;

<div class="card border-1">
    <div class="card-header"><h2>@Model.City</h2></div>
    <div class="card-text"><h3>@Model.City</h3></div>
    <div class="card-text"><h3>@Model.Index</h3></div>
</div>
