@using antifragile.Data.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model antifragile.ViewModels.ProfileViewModel


<div class="container profile p-3">
    <div class="d-flex flex-column">
        <div class="h3">Профиль</div>
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex flex-column col-4 shadow rounded-3 p-4 justify-content-center" >
                <img src="imgs/default_pic.png"/>
                <p class="fs-4">@Model.Name</p>
                <p class="fs-4">@Model.PhoneNumber</p>
                <p class="fs-4">@Model.Email</p>
                <button class="rounded-3 border-0" style="background: #FD7A53; color: white; font-weight: bold"
                    asp-controller="Profile" asp-action="Logout"><a class="text-decoration-none" asp-controller="Profile" asp-action="Logout">logout</a></button>
            </div>
            <div class="d-flex flex-row col-8 justify-content-around">
                <div class="d-flex flex-column col-4">
                    @foreach (Address address in Model.Addresses)
                    {
                        @Html.Partial("AddressCard", address)
                    }
                </div>
                <form class="d-flex flex-column col-4" asp-action="AddAddress" method="post">
                    <label>Город</label>
                    <input placeholder="City" asp-for="AddressViewModel.City"/>
                    <label>Улица</label>
                    <input  placeholder="Street" asp-for="AddressViewModel.Street"/>
                    <label>Индекс</label>
                    <input  placeholder="Index" asp-for="AddressViewModel.Index"/>
                    <button type="submit" value="send" >Отправить</button>
                </form>
            </div>
        </div>
    </div>
</div>
