
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - antifragile</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/antifragile.styles.css" asp-append-version="true"/>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark bor px-4">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">Antifragile</a>
        <div class="collapse navbar-collapse d-flex flex-row justify-content-between" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Catalog" asp-action="Index" >Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="FAQ" asp-action="Index">FAQ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Home" asp-action="Payment">Оплата</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " asp-controller="Home" asp-action="Delivery">Доставка</a>
                </li>
            </ul>
            <ul class="navbar-nav mr-auto">
                <li>
                    <a class="nav-item" asp-controller="Cart" asp-action="Index">
                        Корзина
                    </a>
                </li>
                <li>
                    <a class="nav-item" asp-controller="Profile" asp-action="Login">
                        Профиль
                    </a>
                </li>
            </ul>
        </div>
    </nav>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container bg-secondary">
        &copy; 2023 - antifragile - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>