
<div class="header">
    <div class="header-section">
        <div class="header-item logo">
            Antifragile
        </div>
        <div class="header-item link">
            <a asp-controller="Catalog" asp-action="Index">Каталог</a>
        </div>
        <div class="header-item link">
            <a asp-controller="FAQ" asp-action="Index">FAQ</a>
        </div>
        <div class="header-item link">
            <a asp-controller="Catalog" asp-action="Index">Каталог</a>
        </div>
        <div class="header-item link">
            <a asp-controller="Catalog" asp-action="Index">Каталог</a>
        </div>
    </div>
    <div class="header-section">
        <div class="header-item img">
            <a asp-controller="Profile" asp-action="Index">
                <img src="/imgs/profile-icon.png"/>
            </a>
        </div>
        <div class="header-item img">
            <a asp-controller="Profile" asp-action="Index">
                <img src="/imgs/profile-icon.png"/>
            </a>
        </div>
    </div>
</div>
