<div class="container delivery">
    <div class="row">
        <div class="col">
            <h5>Доставка</h5>
            <hr/>
            <div>
                <h4>
                    Если товар в наличии: 
                    
                    3-5 рабочих дня займет обработка заказа
                    
                    2-3 рабочих дня отправка и прием посылки на почте
                    
                    5-14 дней доставка по России
                </h4>
                <h4>
                    Если товар не в наличии:
                    
                    30 – 50 дней займет доставка из Кореи
                    
                    3-5 рабочих дня займет обработка заказа
                    
                    2-3 рабочих дня отправка и прием посылки на почте
                    
                    5-14 дней доставка по России
                </h4>
                <h4>
                    Возврат товара возможен в течение 14 дней с момента получения посылки. Пожалуйста, заранее напишите нам на почту bibaboba@gmail.com о причине возврата товара.
                    
                    Обмен и возврат товара осуществляется за счет клиента. После получения нами товара и проверки его вида осуществляется возврат денежных средств полностью (за исключением доставки) или обмен.
                    
                    Вы можете вернуть товар обратно только по причине заводского брака или повреждений. По другим причинам возврат не осуществляется.
                </h4>
            </div>
        </div>
        <div class="col">
            <img src="~/image_payment.png" alt="Question-Answer" class="img-fluid">
        </div>
    </div>
</div>