<div class="container delivery">
    <div class="row">
        <div class="col">
            <h5>Доставка</h5>
            <hr/>
            <div>
                <p> Если товар в наличии: </p>
                <ul>
                    <li>3-5 рабочих дня займет обработка заказа</li>
                    <li>2-3 рабочих дня отправка и прием посылки на почте</li>
                    <li>5-14 дней доставка по России</li>
                </ul>
                <p>Если товар не в наличии:</p>
                <ul>
                    <li>30 – 50 дней займет доставка из Кореи</li>
                    <li>3-5 рабочих дня займет обработка заказа</li>
                    <li>2-3 рабочих дня отправка и прием посылки на почте</li>
                    <li>5-14 дней доставка по России</li>
                </ul>
                <p>Возврат товара возможен в течение 14 дней с момента получения посылки. Пожалуйста, заранее напишите нам на почту bibaboba@gmail.com о причине возврата товара.</p>
                <p> Обмен и возврат товара осуществляется за счет клиента. После получения нами товара и проверки его вида осуществляется возврат денежных средств полностью (за исключением доставки) или обмен.</p>
                <p>Вы можете вернуть товар обратно только по причине заводского брака или повреждений. По другим причинам возврат не осуществляется.</p>
            </div>
        </div>
        <div class="col">
            <img src="~/imgs/image_delivery.png" alt="Question-Answer" class="img-fluid">
        </div>
    </div>
</div>