<div class="container payment">
    <div class="row">
        <div class="col">
            <h5>Оплата</h5>
            <hr/>
            <div>
                <p>У нас в интернет-магазине доступны разнообразные способы оплаты, чтобы сделать оплату вашего заказа максимально удобной:</p>
                <ul>
                    <li>Принимаем все российские банковские карты, включая Visa, MasterCard и МИР. Просто выберите удобную для вас опцию.</li>
                    <li>Если предпочитаете оплату наличными, вы также можете прийти в пункт выдачи заказа и расплатиться на месте.</li>
                </ul>
                <p>
                    Мы постарались предоставить разнообразные варианты оплаты, чтобы удовлетворить потребности каждого нашего клиента.
                </p>
            </div>
        </div>
        <div class="col">
            <img src="~/imgs/image_payment.png" alt="Question-Answer" class="img-fluid">
        </div>
    </div>
</div>